---
title: Comando Certo
---
<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <main class="container">
      <img src="/favicon.png" alt="logotipo" class="mx-auto d-block" style="width: 7%;">
      <h1 style="font-family: 'Geo Oblique';" class="text-center">
        Comando Certo
      </h1>
      <div class="row">
        <div class="col">
          <!--a class="link text-dark" href="/mongodb">
            <img class="link-img" src="assets/img/icone-mongo.png">
            MongoDB
          </a-->
          <a class="link text-dark" href="/docker">
            <img class="link-img" src="assets/img/icone-docker.png"/>
            Docker
          </a>
        </div>
        <div class="col">
        </div>
        <div class="col">
          
        </div>
      </div>
    </main>
    {% include body_js.html %}
  </body>
</html>
