<div class="position-sticky" style="top: 2rem;">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="fst-italic">Sobre</h4>
    <p class="mb-0">Trilhas de aprendizado feitas por Jhonata Medeiros da Silva. Visite meu <a href="https://www.linkedin.com/in/jhonata-medeiros-da-silva-a0a26434/">Linkedin</a> e sabia mais da minha tragetória.</p>
  </div>

  <div class="p-4">
    <h4 class="fst-italic">Cursos</h4>
    <ol class="list-unstyled mb-0">
      <li><a href="#">Informática básica</a></li>
      <li><a href="#">Unity</a></li>
      <li><a href="#">Docker</a></li>
      <li><a href="#">Git</a></li>
      <li><a href="#">Python</a></li>
      <li><a href="#">Linux</a></li>
      <li><a href="#">Kubernetes</a></li>
    </ol>
  </div>
</div>
